:root {
    --main-color: #333333;
    --white: #ffffff;
    --smoke-white: #F5F5F5;
    --flash-white: #EEEEEE;
    --granite-gray: #666666;
    --spanish-gray: #999999;
    --dark-blue: #0E384C;
    --salmon: #EE7B6F;
    --body-font: 'Inter', sans-serif;
    --header-font: "p22-mackinac-pro", sans-serif;
}
body {
    font-size: 16px;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.3;
    color: var(--granite-gray);
    background-color: var(--smoke-white);
}
a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h2 {
    font-family: var(--header-font);
    color: var(--main-color);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 0;
}
h4 {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 0;
}
h6 {
    font-size: 14px;
    line-height: 1.5;
    color: var(--salmon);
    font-weight: 700;
    margin-bottom: 10px;
}
p {
    margin-bottom : inherit;
}
.container {
    max-width: 1024px;
}
.transparent-salmon-btn, .salmon-btn {
    border-radius: 5px;
    border: 1px solid var(--salmon);
    display: inline-block;
    transition: all 0.4s;
    font-size: 12px;
    line-height: 24px;
    padding: 4px 20px;
    text-align: center;
    min-width: 160px;
    font-weight: 600;
    color: var(--salmon);
    background: transparent;
}
.transparent-salmon-btn:hover {
    background-color: var(--salmon);
    color: var(--white);
}
.salmon-btn {
    border: 1px solid var(--salmon);
    font-size: 16px;
    padding: 9px 20px;
    background: var(--salmon);
    font-weight: 700;
    min-width: 195px;
    color: var(--white);
}
.salmon-btn:hover{
    color: var(--salmon);
    background-color: transparent;
}

/* Sidebar Style */
.body-divider {
    display: flex;
    align-items: stretch;
}
.sitebar-area {
    width: 300px;
}
main.main-content-area{
    width: calc(100% - 300px);
    height: 100vh;
    min-height: 620px;
    overflow-y: scroll;
}
.company-sidebar {
    width: 100%;
    height: 100vh;
    min-height: 620px;
    background-color: var(--dark-blue);
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.sidebar-logo {
    margin-bottom: 44px;
}
.navbar-top-box {
    border-radius: 5px;
    border: 1px solid #23566E;
    padding: 13px 20px;
    color: var(--white);
    font-size: 14px;
    line-height: 24px;
}
nav.sidebar-nav {
    padding: 30px 20px;
    border-bottom: 1px solid #23566E;
    margin-bottom: 20px;
}
nav.sidebar-nav > ul > li:not(li:last-child) {
    margin-bottom: 16px;
}
nav.sidebar-nav > ul > li > a {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 3px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav.sidebar-nav > ul > li > a > span {
    width: 20px;
    line-height: 1;
}
li.has-submenu > ul {
    padding-left: 30px;
    margin: 8px 0;
    display: none;
}
li.has-submenu ul > li > a {
    color: var(--white);
    font-size: 14px;
    padding: 5px 0;
}
nav.sidebar-nav > ul > li.has-submenu > a {
    padding-right: 24px;
    position: relative;
}
nav.sidebar-nav > ul > li.has-submenu > a::after, nav.sidebar-nav > ul > li.has-submenu > a::before {
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 15px;
    right: 0;
    border-radius: 1px;
    transition: all 0.4s;
}
nav.sidebar-nav > ul > li.has-submenu > a::after{
    transform: rotate(-90deg);
}
nav.sidebar-nav > ul > li.has-submenu > a.active::after{
    transform: rotate(0);
}
li.has-submenu ul > li > a:hover {
    color: var(--salmon);
}
.need-help-agent, .user-info {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 14px;
}
.need-help-agent img {
    border-radius: 50%;
    width: 40px;
}
.need-help-text {
    color: var(--white);
    max-width: 150px;
}
.need-help-text h6 {
    color: var(--white);
    margin-bottom: 4px;
}
.need-help-text p {
    font-size: 12px;
}
.need-help-content > a {
    border-radius: 5px;
    border: 1px solid #23566E;
    width: 100%;
    color: var(--white);
    font-size: 12px;
    text-align: center;
    padding: 8px 20px;
}
.sidebar-bottom-content {
    margin-top: auto;
}
.user-interface {
    display: flex;
    align-items: center;
    max-width: 220px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #23566E;
    padding: 8px 12px;
    justify-content: space-between;
}
.user-info {
    margin-bottom: 0;
}
.user-info img {
    border-radius: 50%;
    width: 30px;
}
.user-title h6 {
    color: var(--white);
    margin-bottom: 0;
    line-height: 18px;
}
.user-title p {
    font-size: 12px;
    color: var(--white);
}
.log-out-button button {
    border: none;
    background: transparent;
    color: var(--white);
    font-size: 12px;
    padding: 2px;
}
a.mobile-logo img.white-logo {
    display: none;
}

/* Content Area Style */
section.main-content-top-section {
    background-color: var(--white);
}
.top-section-content {
    padding-top: 40px;
}
.top-section-left h2 {
    margin-bottom: 8px;
}
.top-section-left p {
    margin-bottom: 24px;
}
.button-group {
    display: flex;
    align-items: center;
    gap: 40px;
}
a.watch-btn, a.key-btn {
    font-size: 14px;
    line-height: 24px;
    color: var(--granite-gray);
    padding-left: 26px;
    background-position: center left;
    background-repeat: no-repeat;
}
a.watch-btn{
    background-image: url(../img/icon/camera.svg);
}
a.key-btn{
    padding-left: 20px;
    background-image: url(../img/icon/memo-pad.svg);
}
.top-section-right {
    text-align: center;
}
.top-section-right p {
    font-size: 12px;
    line-height: 24px;
}
span.in-progress {
    font-size: 14px;
    line-height: 1;
    padding: 12px 23px 12px 45px;
    background-color: var(--flash-white);
    display: inline-block;
    border-radius: 5px;
    position: relative;
}
span.in-progress::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #467FFF;
    border-radius: 50%;
    position: absolute;
    left: 19px;
    top: calc(50% - 5px);
}
.account-info-links {
    overflow-x: auto;
    margin-top: 60px;
}
.account-info-links ul {
    min-width: 640px;
}
.account-info-links ul li {
    display: inline-block;
    margin-right: 48px;
}
.account-info-links ul li:last-child{
    margin-right: 0;
}
.account-info-links ul li a {
    font-size: 14px;
    color: var(--spanish-gray);
    line-height: 1.5;
    padding: 8px 0;
    border-bottom: 3px solid transparent;
}
.account-info-links ul li a.active {
    color: var(--salmon);
    border-color: var(--salmon);
}
.account-step-history {
    padding: 30px 0;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.account-info-checkbox {
    display: flex;
    align-items: center;
    gap: 24px;
    width: calc(100% - 185px);
}
.single-checkbox {
    padding-right: 10px;
    background-image: url(../img/icon/angle-right-gray.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: calc(25% - 18px);
    max-width: 145px;
}
span.tick-mark {
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--salmon);
    border-radius: 50%;
    position: relative;
}
span.tick-mark::after {
    content: "";
    display: block;
    width: 12px;
    height: 7px;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    position: absolute;
    top: 8px;
    left: 6px;
    transform: rotate(-47deg);
}
span.empty-mark {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid var(--spanish-gray);
    border-radius: 50%;
}
.single-checkbox span {
    margin-bottom: 8px;
}
.single-checkbox h6, .single-checkbox p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.33;
    color: var(--spanish-gray);
}
.single-checkbox.completed h6, .single-checkbox.completed p {
    color: var(--salmon);
}
.step-details {
    padding: 36px 0;
    border-bottom: 1px solid #DDDDDD;
}
.step-details h4 {
    margin-bottom: 8px;
}
.step-details p {
    font-size: 14px;
}
.company-details-form-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 15px;
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
}
.half-width-field {
    width: calc(50% - 15px);
}
.full-width-field {
    width: 100%;
}
.company-details-form-content label, .company-details-form-content p {
    display: block;
    font-size: 12px;
    line-height: 2;
}
.company-details-form-content input[type="text"], .company-details-form-content select {
    border-radius: 5px;
    border: 1px solid #DDD;
    background: var(--white);
    font-size: 16px;
    width: 100%;
    line-height: 24px;
    padding: 12px 20px;
    height: 50px;
    outline: none;
    color: var(--granite-gray);
}
.radio-btn-group {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 8px;
}
label.radio-container {
    font-size: 14px;
    line-height: 20px;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-container input, .radio-container .checkmark {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.4s;
}
.radio-container .checkmark {
    opacity: 1;
    background-color: var(--white);
    border: 1px solid #cccccc;
    border-radius: 50%;
}
.radio-container:hover input ~ .checkmark {
    background-color: var(--flash-white);
}
.radio-container input:checked ~ .checkmark {
    border: 5px solid var(--salmon);
}
.form-submit-btn {
    margin-top: 20px;
    text-align: end;
}
section.main-bottom-section {
    padding-bottom: 80px;
}
